<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/">
        <label>策略名</label>
        <input type="text" id="strategy_name" name="strategy_name"/>
        <button onclick="" type="submit">查询</button>
    </form>
</div>
<table>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
    </tr>

</table>
</body>
</html>